In [5]:
import pandas as pd

In [6]:
df = pd.read_csv("csv/salaries.csv")

In [8]:
df.head()

   years_of_experience  salary
0                    5    3150
1                    9    3787
2                    4    2991
3                   10    4551
4                    8    3540